<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>

        <!-- 🔥 Разрешаем HTTP-запросы -->
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>

        <!-- 📍 Геолокация (ОБЯЗАТЕЛЬНО) -->
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>AIzaSyBk7RI60cMI0gkuh_q8Mr63eSy_CtUM-qg</string>

    </dict>
</plist>